mat-card {
  margin-top: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  border: 2px solid #6E6E6E;
}

th {
  color: var(--accent-clr);
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

td {
  font-size: 1rem;
}

.purchase-form {
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}