:root {
  --basic-clr: #303030;
  --primary-clr: #7b1fa2;
  --accent-clr: #61DDA0;
  --warn-clr: #F55246;
  --disabled-clr: #494949;
  --text-clr: #ffffff;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--basic-clr);
}

main {
  min-height: 90vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  padding: 1rem 0;
  padding-top: 88px;
  background-color: var(--primary-clr);
  color: var(--text-clr);
}
