<header class="page-header">
  <div class="container">
    <h1 class="main-title">Products</h1>
  </div>
</header>
<div class="container">
  <mat-card *ngFor="let product of products">
    <a [title]="product.name + ' details'"
       [routerLink]="['/products', product.id]">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ product.name }}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <img mat-card-md-image [src]="product.imgSrc" [alt]="product.name">
      <mat-card-content *ngIf="product.description">
        <p>Description: {{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" mat-stroked-button (click)="share()">SHARE</button>
        <app-product-alerts
          [product]="product"
          (notify)="onNotify()"
        ></app-product-alerts>
      </mat-card-actions>
    </a>
  </mat-card>
</div>
