<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Products</mat-card-title>
      <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->
      <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quisquam quo, ut dolorem nemo pariatur repellat eaque blanditiis eius illo deserunt asperiores optio, quis molestias laboriosam aspernatur fuga dolores natus!
  </mat-card-content>
</mat-card>
